<div class="container-fluid">
  <div class="col-xs-3 col-md-3 col-lg-3">
    <div class="row">
      <h3>Blood Donation @ Prasnottar</h3>
      <p class="text-info">A Place where stranger become friends</p>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="https://bibekshakya35.github.io/img/blood1.jpg" alt="Blood Donation" class="img-responsive">

          </div>

          <div class="item">
            <img src="https://bibekshakya35.github.io/img/blood2.jpg" alt="Chania"  class="img-responsive">
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="col-xs-9 col-md-9 col-lg-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        Blood Donar Information
      </div>
      <div class="panel panel-body">
        <table class="table table-striped" [mfData]="bloods | dataFilter : filterQuery | nameFilter : nameOfthePerson | locationFilter : locationOfPerson"
          #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>

              <th style="width: 10%">
                <mfDefaultSorter by="bloodgroup">Blood Group</mfDefaultSorter>
                <select class="form-control col-md-2" (change)="onBloodSearchChanged()" [(ngModel)]="filterQuery">
                      <option value="">Select One</option>
                      <option *ngFor="let b of bloodGroup">{{b}}</option>
                  </select>
              </th>
              <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
                <input type="text" [(ngModel)]="nameOfthePerson">
              </th>
              <th style="width: 40%">
                <mfDefaultSorter by="name">Contact Information</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                <mfDefaultSorter by="location">Location</mfDefaultSorter>
                <input type="text" [(ngModel)]="locationOfPerson">
              </th>
              <th style="width:20%">
                <mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>

              </th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data" (click)="onClickOfDonar(item)" class="blood-table">

              <td>{{item.bloodgroup}}</td>
              <td>{{item.name}}</td>
              <td class="text-center">M.No: {{item.mobile}}<br>Email: {{item.email}}<br>L.No: {{item.lamdline}}</td>
              <td>{{item.location}}</td>
              <td>{{item.city | uppercase}}</td>
              <td>{{item.status==true?Available:Unavailable}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="panel-footer">
        <div class="row">

          <div class="col-xs-2">
            <label class="label-control">Rows on page</label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <label class="col-xs-12 label-control">Sort by</label>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="bloodgroup">Blood Group</option>
                            <option ngValue="location">Location</option>
                            <option ngValue="name">Name</option>
                            <option [ngValue]="sortByWordLength">City</option>
                        </select>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                            <option ngValue="badValue">Bad value</option>
                        </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>