<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <div class="page-header">
      <h1>
        <span>Blood Donation</span><br/>
        <small>A Place where stranger become friends</small>
      </h1>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Blood Donar Information
      </div>
      <table class="table table-striped" [mfData]="bloods | dataFilter : filterQuery | namePipe" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th colspan="5">
              <div class="row">
                <h4 class="text-center lead text-info">Search Blood Donar 
                   <small *ngIf="isBloodSearchChange"><br> You have searched {{filterQuery}} Blood Group
                   </small></h4>
                <div class="form-group col-md-2">
                  Blood Group:
                  <select class="form-control col-md-2" (change)="onBloodSearchChanged()" [(ngModel)]="filterQuery">
                      <option value="">Select One</option>
                      <option *ngFor="let b of bloodGroup">{{b}}</option>
                  </select>
                  <br>
                 
                </div>
                <div class="form-group col-md-3">
                  Person Name:
                  <input type="text"  [(ngModel)]="nameOfthePerson">
                </div>
              </div>
            </th>
          </tr>
          <tr>

            <th style="width: 10%">
              <mfDefaultSorter by="bloodgroup">Blood Group</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 40%">
              <mfDefaultSorter by="name">Contact Information</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="location">Location</mfDefaultSorter>
            </th>
            <th style="width:20%">
              <mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>
            </th>
          </tr>
          
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data" (click)="onClickOfDonar(item)" class="blood-table">

            <td>{{item.bloodgroup}}</td>
            <td>{{item.name}}</td>
            <td class="text-center">M.No: {{item.mobile}}<br>Email: {{item.email}}<br>L.No: {{item.lamdline}}</td>
            <td>{{item.location}}</td>
            <td>{{item.city | uppercase}}</td>
            <td>{{item.status==true?Available:Unavailable}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
        </table>
    </div>
    <div class="panel-footer">
      <div class="row">

        <div class="col-xs-2">
          <label class="label-control">Rows on page</label>
          <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <label class="col-xs-12 label-control">Sort by</label>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="bloodgroup">Blood Group</option>
                            <option ngValue="location">Location</option>
                            <option ngValue="name">Name</option>
                            <option [ngValue]="sortByWordLength">City</option>
                        </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                            <option ngValue="badValue">Bad value</option>
                        </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>