<!-- Main Header -->
<header class="main-header" style="background-color: black;">

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" style="background-color: black;">

		<div class="navbar-header">
			<a routerLink="/home" class="navbar-brand"><b>Prasna</b>ttar</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a class="question" routerLink="/home">Questions</a></li>
		</ul>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- Messages: style can be found in dropdown.less-->
				<li class="dropdown messages-menu messagesBox"></li>
				<!-- Notifications Menu -->
				<li class="dropdown notifications-menu notificationsBox"></li>
				<!-- Tasks Menu -->
				<li class="dropdown tasks-menu tasksBox"></li>
				<!-- User Account Menu -->
				<li class="dropdown user user-menu userBox"></li>
				<!-- Control Sidebar Toggle Button -->
				<li><a href="#" data-toggle="control-sidebar" class="toggle-sidebar-right"><i class="fa fa-sign-in"></i>  Login</a></li>
			</ul>
		</div>
	</nav>
</header>