<div class="row" *ngFor="let post of posts">
    <div class="col-md-1">
        <div class="box">

            <div class="row vote">
                <span class="row"> <i class='fa fa fa-arrow-up' title="Vote"></i> </span>
                <span style="margin-left:30px;">{{post.score}}<small  style="text-align: center;margin-left:10px;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Answers : {{post.answers?.length}}</small></span>
                <span class="row"><i class='fa fa fa-arrow-down'></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <template #popTemplate>
                    <span>Asked by : {{post.author}} <br> <small>Date : {{ post.date | date}}</small></span>
                </template>
                <a [routerLink]="['/question/show',post._id]" class="postTitle" placement="top" [popover]="popTemplate" triggers="mouseenter:mouseleave">{{post.title}}</a>
            </div>
            <div class="box-body">
                <div [innerHtml]="post.body |truncateData :200" style="overflow: hidden;"></div>
                <span class="badge category label-success" *ngFor="let cat of post.categories" style="margin-left:5px;">{{cat}}</span>
            </div>
        </div>
    </div>
</div>