.postTitle{
    font-size: 2em;
}

:host >>> .popover {
  background-color: #009688;
  color: #fff;
}
:host >>> .popover>.arrow:after {
  border-top-color: #009688;
}
.vote{
  background: 	 #f2e6ff;
}
.category{
  padding: 5px;
  font-size: 14px;
  margin-top:5px; 
}
